<footer>
  <div class="wrapper">
    <div class="links">
      <ul class="sitemap">
        <li><a href="/">Home</a></li>
        <li><a href="/training">Training &amp; Events</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
      <ul class="utilities">
        <li><a href="/agile-resources">Useful Agile Resources</a></li>
      </ul>
    </div>
    <div class="get-in-touch">
      <div class="telephone">
        <div class="contact-info">
          <span class="phone-number">+1.804.787.0724</span>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
