<div class="wrapper">
  <a class="logo" href="/">Endgoal Group, Inc. <i class="fa-play"></i></a>
  <nav role="navigation">
    <a href="/">Home</a>
    <a href="/about-us">About Us</a>
    <a href="/our-services">Our Services</a>
    <a href="/why-endgoal">Why EndGoal</a>
    <a href="/train-it">TrainIT</a>
    <a class="agile-resources" href="/agile-resources">Agile Resources</a>
    <a class="contact" href="/contact"><i class="fa-envelope"></i></a>
  </nav>
</div>
