<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Endgoal Group | {{title}}</title>
  <meta name="keywords" content="">
  <meta name="description" content="Meet the faces behind Endgoal">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{>common}}
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</head>

<body class="{{ body_class }}">
  <header class="primary">
    {{>navigation}}

    <div class="splash" role="banner">
      <h1>Who We Are</h1>
    </div>
  </header>

  <main role="main">
    <div class="team-member">
      <div class="headshot">
        <img src="/assets/images/headshots/vickie.jpg">
      </div>
      <div class="bio">
        <span class="name">Victoria Figaro, PMP, SA, SPC</span>
        <span class="title">Founder, Principal Agile Coach &amp; Trainer</span>
        <p>Agile Leader, Trainer, Practitioner, Agile Change &amp; Transformational Strategist with extensive experience in all aspects of Agile, Scaled Agile Framework (SAFeTM) Project, Program and Portfolio Management, as well as in development, design and consulting in the IT industry. Proven skills in the areas of developing and coaching high performing teams, and acknowledged for outstanding leadership ability. Demonstrated ability to facilitate, think, lead and execute strategically and tactically, and is driven to achieve the best possible results. Founding member and former Chairman of the Board for the National Association of Management Consultants. Project Management Professional, Agile Scrum Master and SAFe Program Consultant certified.</p>
        <p><a href="/assets/resumes/vickie.doc">View Resume</a></p>
      </div>
    </div>

    <div class="team-member">
      <div class="headshot">
        <img src="/assets/images/headshots/bill.jpg">
      </div>
      <div class="bio">
        <span class="name">Bill Figaro</span>
        <span class="title">Principal Consultant</span>
        <p>Starting in 2002, Bill started GROW!, Inc. to lead the growth of  numerous companies through innovative strategic planning and the creation of alliances to increase sales and cash flow in addition to doing their bookkeeping.  Over the past 5 years, Bill has helped raise in excess of $17 Million in alternative financing for small growth companies.</p>
        <p>Industries include entrepreneurial start-ups, real estate, manufacturing, professional services, machine shops, steel fabrication and entertainment.</p>
        <p>His professional experience spans 10+ years as an accountant/ controller for a large insurance carrier, 5+ years as a corporate consultant in new product development and 3+ years in mergers/acquisitions.</p>
        <p>Bill is a graduate of  the Governor’s LeadVa program and also the Sorensen Institute for Political Leadership at the University of Virginia.  He proudly serves on the Regional Boards of these organizations in addition to serving on the Roanoke Regional Chamber Board of Directors, the Virginia Chamber of Commerce’ Small Business Committee and  Chaired a Committee for the Governor’s Small Business Capital Access Conference.</p>
        <p>He currently resides in Richmond, Virginia and is the very proud Dad of 4 aspiring daughters, aged 18, 20, 22 and 24 and an entrepreneurial son, age 29.</p>
        <p>His words to live by are “Rest makes rust” and “It is better to give than it is to receive.”</p>
        <p><a href="/assets/resumes/bill.doc">View Resume</a></p>
      </div>
    </div>
  </main>

  {{>footer}}
</body>
</html>
