<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Endgoal Group | {{title}}</title>
  {{>common}}
</head>

<body class="{{ body_class }}">
  <header class="primary">
    {{>navigation}}
    <div class="splash">
      <h1>Useful Agile Resources</h1>
    </div>
  </header>

  <main role="main">
    <div class="left">
      <article>
        <header>
          <a href="http://www.informationweek.com/strategic-cio/enterprise-agility/6-ways-to-create-an-agile-company-culture/a/d-id/1297322" target="blank"><h1>6 Ways To Create An Agile Company Culture</h1></a>
          <h2>Alexis Monville and Frédéric Lepied</h2>
          <em>informationweek.com</em>
        </header>
        <p>When it comes to using agile methodologies to speed up the release of products and services, do you "talk the talk" or actually "walk the walk"? Anyone can claim their company is agile, but it's entirely different to put a stake in the ground, rally your troops, and successfully execute.</p>
        <a href="http://www.informationweek.com/strategic-cio/enterprise-agility/6-ways-to-create-an-agile-company-culture/a/d-id/1297322" target="blank">Read the full article</a>
      </article>

      <article>
        <header>
          <a href="http://www.codeproject.com/Articles/604417/Agile-software-development-methodologies-and-how-t" target="blank"><h1>Agile software development methodologies and how to apply them</h1></a>
          <h2>Monjurul Habib</h2>
          <em>codeproject.com</em>
        </header>
        <p>The need for professional behavior: does our industry know what it means to behave? The definition of a software developer: who sits in a room, spends some time, and code comes out. We get very confused about deadlines, dates, estimates, and all of the things we are supposed to be doing, and we do them badly. Now that's not unusual.</p>
        <a href="http://www.codeproject.com/Articles/604417/Agile-software-development-methodologies-and-how-t" target="blank">Read the full article</a>
      </article>

      <article>
        <header>
          <a href="http://www.agileconnection.com/keywords/agile-transition" target="blank"><h1>Articles tagged with 'Agile Transition'</h1></a>
          <em>agileconnection.com</em>
        </header>
        <a href="http://www.agileconnection.com/keywords/agile-transition" target="blank">Read the full article</a>
      </article>

      <article>
        <header>
          <a href="http://blog.assembla.com/AssemblaBlog/tabid/12618/bid/88252/How-11-Companies-are-Scaling-Agile.aspx" target="blank"><h1>How 11 Companies are Scaling Agile</h1></a>
          <h2>Jon Friedman</h2>
          <em>blog.assembla.com</em>
        </header>
        <p>The Scalable Agile Design Group (SADG) is an informal group representing 11 companies plus Assembla, pulled together to share ideas about how Agile techniques can be scaled up to address large, complex software development projects.</p>
        <a href="http://blog.assembla.com/AssemblaBlog/tabid/12618/bid/88252/How-11-Companies-are-Scaling-Agile.aspx" target="blank">Read the full article</a>
      </article>

      <article>
        <header>
          <a href="http://www-01.ibm.com/software/solutions/soa/newsletter/jul10/business_agility.html" target="blank"><h1>How agile companies create and sustain high ROI</h1></a>
          <h2>Nancy Pearson</h2>
          <em>m.ibm.com</em>
        </header>
        <p>The current economy is in a state of accelerating change, driven by demanding customer expectations and increasing competition. Potential competitors can enter the market more easily than ever due to advances in technology, global infrastructures and decreasing cost of labor. How can companies manage to this constantly accelerating environment? Responding to these pressures requires enterprises to create a business culture that is agile and flexible.</p>
        <a href="http://www-01.ibm.com/software/solutions/soa/newsletter/jul10/business_agility.html" target="blank">Read the full article</a>
      </article>

      <article>
        <header>
          <a href="http://www.scruminc.com/company-agile/" target="blank"><h1>Is Your Company Agile?</h1></a>
        </header>
        <p>On my recent book tour in London, I was asked to appear on Sky News. They asked me to talk about why the United Kingdom's productivity is less than other G7 countries. The hot topic of the day was earnings reports from U.K. companies and U.S. companies based in the U.K. They told me to be prepared to talk about productivity and how that affects earnings of specific companies.</p>
        <a href="http://www.scruminc.com/company-agile/" target="blank">Read the full article</a>
      </article>

    </div>
    <div class="right">

    </div>
  </main>

  {{>footer}}
</body>
</html>
