<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Endgoal Group | {{title}}</title>
  {{>common}}
</head>

<body class="{{ body_class }}">
  <header class="primary">
    {{>navigation}}

    <section class="splash-message" role="banner">
      <h1>We enable results</h1>
      <h2>we foster high performing Agile teams to deliver exceptional products to their customers<br> each and every time!</h2>
      <div class="calls-to-action">
        <a class="training" href="/training-and-events">Training &amp; Events</a>
        <a class="hire-us" href="/contact">Contact Us</a>
      </div>
    </section>
  </header>

  <main role="main">
    <p>We're a fast growing Agile Enterprise Transformation Consulting firm located in Richmond, VA.  We are currently penetrating the federal government, software development, banking and financial markets with our service offerings.  To learn more about how we can meet your needs as a consulting firm or for teaming opportunities, please call us at 540-353-1673 or 804-787-0724 and we will be happy to meet with you.  We can also be reached via email at <a href="mailto:team@endgoalgroup.com">team@endgoalgroup.com</a></p>
    <section class="our-approach">
      <div class="row">
        <div class="strategy">
          <i class="fa-key"></i>
          <div class="title">Strategy</div>
          <p>We use flexible &amp; innovative approches to conduct a comprehensive current state analysis to facilitate the development of a tailored Agile strategy</p>
        </div>
        <div class="transformation">
          <i class="fa-magic"></i>
          <div class="title">Transformation</div>
          <p>Effective Agile transformation programs require a multi-faceted approach that is flexible and scalable to meet the unique needs of your organization</p>
        </div>
      </div>
      <div class="row">
        <div class="training">
          <i class="fa-mortar-board"></i>
          <div class="title">Training</div>
          <p>After the strategy is defined, and Transformation efforts begin, we work hand-in-hand with you to develop and execute an Agile training curriculum that is focused on all levels of the organization from leadership training to team and role based training</p>
        </div>
        <div class="coaching">
          <i class="fa-bullhorn"></i>
          <div class="title">Coaching</div>
          <p>We partner with our clients to offer Leadership and team coaching with a heavy empasis on change management in order to ensure successful and long-term adoption of Agile at every level of the organization</p>
        </div>
      </div>
    </section>
  </main>

  {{>footer}}
</body>
</html>
