<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Endgoal Group | {{title}}</title>
  {{>common}}
</head>

<body class="{{ body_class }}">
  <header class="primary">
    {{>navigation}}

    <div class="splash">
      <h1>What We Do</h1>
    </div>
  </header>

  <main role="main">
    <p>The EndGoal Group helps businesses reach their Organizational Transformation goals by offering our clients scalable and flexible Agile and Small Business Coaching, Consulting and Training solutions which address and span all levels of expertise and adoption throughout our clients organizations.</p>

    <h2>Our Services</h2>
    <ul style="padding: 0; margin-left: 0; margin-top: 0;">
      <li>Enterprise Agile Transformation</li>
      <li>Assessments</li>
      <li>Framework Implementation, including, but not limited to:</li>
      <li>
        <ul>
          <li>Scrum</li>
          <li>Kanban</li>
          <li>SAFe®</li>
        </ul>
      </li>
      <li>Training</li>
      <li>Coaching</li>
      <li>Small Business Consulting &amp; Coaching</li>
    </ul>

    <h2>Our Approach</h2>
    <p>Our unique approach to consulting, coaching, and training tightly integrates transformational leadership coaching with practical and incremental “hands-on” team training and mentorship to ensure that the teams and leadership are better positioned to successfully deliver against their commitments as they learn to effectively implement, practice &amp; leverage critical Agile values &amp; principals within their organization.</p>
    <p>Our approach to Enterprise Transformational Coaching is uniquely focused on evolving your organizations mindset though a three-tiered consultative framework focused on:</p>
    <style>
    table tbody td {
      width: 33%;
      padding: 5px 15px 2px 0;
    }
    </style>

    <table>
      <thead>
        <tr>
          <th style="text-align: left">Agile Framework</th>
          <th style="text-align: left">Coaching</th>
          <th style="text-align: left">Training</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Agile Framework<br>
            Process &amp; Standards for Agile Management of Portfolio, Program &amp; Teams<br>
            Agile Governance Model<br>
            Agile Community of Practice &amp; Enablement Team<br>
            Agile Practice Establishment &amp; Oversight<br>
            Tools, Metrics &amp; Reporting
          </td>
          <td>
            Executive &amp; Leadership Coaching<br>
            Organizational Change Management<br>
            Strategic &amp; Tactical Coaching<br>
            Large Scale Transformation &amp; Targeted Implementations
          </td>
          <td>
            Leadership Training to Enable Transformation<br>
            Change Management<br>
            Team &amp; Role Based<br>
            Onsite, Virtual &amp; Self Paced
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th style="text-align: left">People</th>
          <th style="text-align: left">Process</th>
          <th style="text-align: left">Tools</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Build Agile Project &amp; Program Expertise</td>
          <td>Build internal Agile Framework Expertise</td>
          <td>Identify &amp; implement right Agile tools to achieve organizational goals</td>
        </tr>
        <tr>
          <td>Prepare Teams with foundational knowledge</td>
          <td>Foster productive client engagement</td>
          <td>Plan for continuous professional &amp; technical development of staff</td>
        </tr>
        <tr>
          <td>Foster individual &amp; Team Agile competency</td>
          <td>Define &amp; implement Key Performance Indicators</td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <h2>Engagement Model</h2>
    <img style="max-width: 600px; width: 40%; float: left;" src="/assets/images/model.png" alt="Our engagement model">
    <p style="width: 60%; float: left;">Our engagement model ensures that we are working in lock-step with our client’s to meet their changing business needs, every step the way. We take a holistic top/down approach which facilitates a smooth Agile Transformation as it is focused on all levels of the organization</p>
  </main>

  {{>footer}}
</body>
</html>
