<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Endgoal Group | {{title}}</title>
  {{>common}}
</head>

<body class="{{ body_class }}">
  <header class="primary">
    {{>navigation}}
    <div class="splash">
      <h1>Training &amp; Events</h1>
    </div>
  </header>

  {{events}}

  <main class="training-and-events" role="main">
    <div class="courses">
      <div class="wrapper">
        <!-- <article class="course">
          <header>
            <h1>Fundamentally Agile Workshop</h1>
            <div class="cost-and-duration">
              <p class="cost"><strong>Cost:</strong> $1,475.00<br>
              <p class="duration"><strong>Duration:</strong> 2 Days</p>
            </div>
          </header>
          <a name="one">&nbsp;</a>
          <p>Agile and Scrum are deceptively simple and the road to mastery begins here. The interactivity of this class is designed to immediately provide participants with hands-on practice – setting them up for success as they leave the training environment. Participants will work in teams and simulate a Scrum Iteration from start to finish. There will be role play, activities, exercises and discussions.</p>

          <ul>
            <li class="title">What you can expect to learn</li>
            <li>Agile Values, Principles &amp; Frameworks</li>
            <li>Difference Between Agile and Waterfall</li>
            <li>Applying The Agile Values and Principles Leveraging Scrum</li>
            <li>5 Levels of Agile Planning</li>
            <li>Elements &amp; Artifacts Of Scrum</li>
            <li>Working In Self-Organizing Teams</li>
            <li>Roles &amp; Responsibilities</li>
            <li>Defining &amp; Refining Product Backlog –Continuous Grooming</li>
            <li>Creating User Stories &amp; Estimating Practice</li>
            <li>Prioritizing The Product Backlog</li>
            <li>How To Conduct Scrum Events Effectively</li>
            <li>The Impediments To Agility &amp; How To Overcome Them</li>
            <li>Quality Practices</li>
            <li>Defect Management</li>
          </ul>

          <ul>
            <li class="title">Target Audience</li>
            <li>Team Members</li>
            <li>Team Managers</li>
            <li>Organization Leadership</li>
            <li>Business Partners and Stakeholders</li>
          </ul>
        </article>

        <article class="course">
          <header>
            <h1>User Story Workshop</h1>
            <div class="cost-and-duration">
              <p class="cost"><strong>Cost:</strong> $1,475.00</p>
              <p class="duration"><strong>Duration:</strong> 2 Days</p>
            </div>
          </header>
          <a name="two">&nbsp;</a>
          <p>Creating good user stories and solid acceptance criteria is an essential practice for successful Agile delivery. This workshop offers practical, hands-on experience in the fundamentals of user story creation and decomposition, writing effective user stories, and defining well-written, clear acceptance criteria. These practices are introduced and reinforced throughout the session, as the "team" iterates through the lifecycle of a User Story, from initial project vision, to user roles &amp; personas, through the first release &amp; sprint.</p>

          <ul>
            <li class="title">What you can expect to learn</li>
            <li>Identifying The Vision</li>
            <li>Voice of the Customer &amp; User Personas</li>
            <li>Epics, Features, Stories &amp; Tasks – What’s the Difference?</li>
            <li>Backlog Essentials, Prioritization &amp; Pointing</li>
            <li>Story Composition</li>
            <li>Writing Effective User Stories</li>
            <li>Attributes of a Good Story</li>
            <li>Writing Effective Acceptance Criteria &amp; Acceptance Tests</li>
            <li>Backlog Grooming &amp; Story Maturation</li>
            <li>Capturing NFR's &amp; Business Rules</li>
            <li>User Story Guidelines &amp; Best Practices</li>
            <li>Effective Management of Changing Requirements</li>
            <li>Team Exercises</li>
            <li>Workshop Retrospective</li>
          </ul>

          <ul>
            <li class="title">Target Audience</li>
            <li>Business Analysts</li>
            <li>Developers</li>
            <li>Testers</li>
            <li>Product Owners</li>
            <li>Scrum Masters</li>
          </ul>
        </article>

        <article class="course">
          <header>
            <h1>Leading SAFe<sup>&trade;</sup></h1>
            <div class="cost-and-duration">
              <p class="cost"><strong>Cost:</strong> $1,495.00</p>
              <p class="duration"><strong>Duration:</strong> 2 Days</p>
            </div>
          </header>
          <a name="three">&nbsp;</a>
          <p>In this two-day course, attendees will gain the knowledge necessary to lead an enterprise Agile transformation by leveraging the Scaled Agile Framework® and its underlying principles of lean thinking and product development flow. This course will enable you to leave with an understanding of how the principles and practices of the Framework support Lean-Agile Programs, Scaling Agile, Lean-Agile Program Portfolio Management, and Scaling Leadership.</p>

          <div class="left">
            <span class="title">DAY 1</span>
            <ul>
              <li>Introduction</li>
              <li>Lean Thinking</li>
              <li>Scaling Agile</li>
              <li>Agile Release Train</li>
            </ul>
          </div>
          <div class="right">
            <span class="title">DAY 2</span>
            <ul>
              <li>Agile Release Train</li>
              <li>Portfolio</li>
              <li>Scaling Leadership</li>
            </ul>
          </div>

          <ul>
            <li class="title">Target Audience</li>
            <li>Executives</li>
            <li>Managers</li>
            <li>Consultants</li>
            <li>Lean-Agile Leaders</li>
            <li>Agile Change Agents</li>
            <li>SAFe Agilist (SA) certification exam administration and scoring</li>
            <li>Those attendees who pass the exam will receive Academy membership for one year, access to the private SA member area, downloads, and invitations to special events.</li>
          </ul>
        </article>

        <article class="course">
          <header>
            <h1>SAFe<sup>&trade;</sup> Scrum Master</h1>
            <h2>Scrum Mastering in the Enterprise with the Scaled Agile</h2>
            <div class="cost-and-duration">
              <p class="cost"><strong>Cost:</strong> $746.00</p>
              <p class="duration"><strong>Duration:</strong> 1 Day</p>
            </div>
          </header>
          <a name="four">&nbsp;</a>
          <p>In this one day course you will learn the critical skills required to create high performance teams. The SAFe Scrum Master can be delivered as part of an SAFe ART or independently to Scrum Masters who wish to build their skills in an enterprise context.</p>

          <ul>
            <li>How to build high performance teams, and the concepts of forming, storming, norming and performing.</li>
            <li>How to be a Scrum Master and serve your high performance team.</li>
            <li>The basic concepts of a Scrum Master, including the Scrum Master as a Servant Leader and how to coach your team.</li>
            <li>How to form your team with insights on team structure, team purpose, and how Scrum ceremonies foster collaboration.</li>
            <li>How to avoid roadblocks by learning the five dysfunctions of a team.</li>
          </ul>

          <ul>
            <li class="title">Target Audience</li>
            <li>Agile Team Members who want to become Scrum Masters</li>
            <li>Scrum Masters</li>
            <li>Consultants</li>
            <li>Managers</li>
          </ul>

          <ul>
            <li class="title">Pre-Requisites:</li>
            <li>1+ years of experience as a Scrum Master</li>
            <li>CSM or equivalent experience</li>
          </ul>
        </article>

        <article class="course">
          <header>
            <h1>SAFe<sup>&trade;</sup> Product Owner</h1>
            <h2>Product Ownership in the Enterprise with the Scaled</h2>
            <div class="cost-and-duration">
              <p class="cost"><strong>Cost:</strong> $746.00</p>
              <p class="duration"><strong>Duration:</strong> 1 Day</p>
            </div>
          </header>
          <a name="five">&nbsp;</a>
          <p>Agile Framework®<br>In this one-day course, you will learn what your role as Product Owner is and how to work with your scrum team.</p>

          <ul>
            <li class="title">What you can expect to learn</li>
            <li>Adapt to your new role as Product Owner in the context of SAFe</li>
            <li>Learn the Scrum Team ceremonies and events crucial to thriving in a scaled Agile environment</li>
            <li>Understand how to be an efficient and productive Product Owner by creating your own stakeholder management plan and engaging your stakeholders</li>
            <li>
              Managing your backlog through
              <ul>
                <li>The Enterprise Backlog Model</li>
                <li>Intro to Prioritization of Program Backlog</li>
                <li>Capacity Allocation</li>
                <li>Sequencing Team Backlog Items</li>
                <li>Backlog Refinement</li>
              </ul>
            </li>
          </ul>

          <ul>
            <li class="title">Target Audience</li>
            <li>Agile Team Members who want to become a Product Owners</li>
            <li>Product Owners</li>
            <li>Consultants</li>
            <li>Managers</li>
          </ul>

          <ul>
            <li class="title">Pre-Requisites</li>
            <li>1+ years of experience as a Product</li>
            <li>CSPO or equivalent experience</li>
          </ul>
        </article>

        <article class="course">
          <header>
            <h1>SAFe<sup>&trade;</sup> ART Training and Launch Program</h1>
            <h2>Prepare • Execute • Improve</h2>
            <div class="cost-and-duration">
              <p class="cost"><strong>Cost:</strong> Call for Pricing</p>
              <p class="duration"><strong>Duration:</strong> 5 Days</p>
            </div>
          </header>
          <a name="six">&nbsp;</a>
          <p>This five-day program is intended for large software enterprises who are ready to apply scalable, Lean-Agile methods to increase the productivity, quality, value delivery, and strategic alignment of their software development teams. The program consists of training, workshops and planning sessions for 50-100 team members organized as 8-12 Scrum teams.</p>

          <ul>
            <li class="title">What you can expect to learn</li>
            <li>• Train up to 125 team members in the principles of the Scaled Agile Framework and SAFe Scrum XP.</li>
            <li>• Act as the certifying agent for those wishing to receive their SAFe Practitioner (SP) certification.</li>
            <li>• Align teams to a common enterprise mission and product backlog, and plan for the first program increment (PI). Establish iteration plans and measurable PI objectives, and launch release</li>
            <li>• Introduce prospective Product Owners and Scrum Masters to the principles and practices unique to their new role in the context of the enterprise.</li>
            <li>• Build a proven, repeatable model for rolling-wave release planning, objective setting, program execution, and adaptive feedback for continuous flow of value.</li>
          </ul>

          <ul>
            <li class="title">Target Audience</li>
            <li>Business Analysts</li>
            <li>Developers</li>
            <li>Product Owners</li>
            <li>Scrum Masters</li>
            <li>Agile Leaders &amp; Stakeholders</li>
            <li>Agile Practitioners</li>
          </ul>
        </article>

        <article class="course">
          <header>
            <h1>SAFe<sup>&trade;</sup> Product Manager / Product Owner</h1>
            <h2>Quickstart your Product Managers and Product Owners on the Scaled Agile Framework® and manage backlogs, stakeholders, and programs</h2>
            <div class="cost-and-duration">
              <p class="cost"><strong>Cost:</strong> $1,475.00</p>
              <p class="duration"><strong>Duration:</strong> 2 Days</p>
            </div>
          </header>
          <a name="seven">&nbsp;</a>
          <p>This two-day interactive workshop begins with the principles of SAFeTM, Lean thinking tools, Agile development practices at scale, and an overview of the Scaled Agile Framework®. Teams will then learn the Product Manager and Product Owner roles in the enterprise, how to manage the enterprise backlog, delivering features, agile requirements, the events within SAFe, and finally, stakeholder management. At the end of this workshop, attendees will have the tools and knowledge they need to write Epics, Features, and User Stories within the Scaled Agile Framework, and have a solid foundation on how to manage programs in the Lean-Agile Enterprise. An optional SAFe Product Manager/Product Owner certification is offered at the end of the class. Attendees typically include executives, product managers, product owners, consultants, lean-agile leaders, and Agile change agents..</p>

          <ul>
            <li class="title">What you can expect to learn</li>
            <li>Product Manager and Product Owner roles in the enterprise</li>
            <li>Enterprise Backlog Management</li>
            <li>Delivering Features in the Enterprise</li>
            <li>Agile Software Requirements</li>
            <li>SAFe events and process</li>
            <li>Stakeholder Management</li>
          </ul>

          <div class="left">
            <span class="title">DAY 1</span>
            <ul>
              <li>SAFe Overview</li>
              <li>PM-PO Roles</li>
              <li>Enterprise Backlog Model</li>
              <li>Delivering Features</li>
            </ul>
          </div>
          <div class="right">
            <span class="title">DAY 2</span>
            <ul>
              <li>Agile Requirements</li>
              <li>SAFe Events</li>
              <li>Stakeholder Management</li>
            </ul>
          </div>

          <ul>
            <li class="title">Target Audience</li>
            <li>Product Owners/Product Managers</li>
            <li>Scrum Masters</li>
            <li>Agile Leaders &amp; Stakeholders</li>
            <li>Agile Practitioners</li>
          </ul>


          <ul>
            <li class="title">Certifications</li>
            <li>Product Manager/Product Owner (SPMPO) certification exam administration and scoring</li>
            <li>Online course feedback survey</li>
            <li>Those attendees who pass the exam will receive Academy membership for one year, access to the private SPMPO member area, downloads, and invitations to special events.</li>
          </ul>
        </article>

        <article class="course">
          <header>
            <h1>SAFe&#174; Program Portfolio Management (PPM) Workshop</h1>
            <h2>Prepare for the adoption of SAFe at the portfolio level</h2>
            <div class="cost-and-duration">
              <p class="cost"><strong>Cost:</strong> $1,475.00</p>
              <p class="duration"><strong>Duration:</strong> 2 Days</p>
            </div>
          </header>
          <a name="eight">&nbsp;</a>
          <p>In this two-day course, attendees will gain the knowledge necessary to organize around value for optimal business results, implement lean-agile program portfolio management, governance and budgeting. You will also learn how to use and implement the Portfolio Kanban system to accelerate value flow to the programs.</p>

          <ul>
            <li>Leave with an understanding of how the principles and practices of the Framework accelerate Value Flow and support Lean-Agile ProgramPortfolio Management, Governance, Lean-Agile Budgeting and Software Capitalization</li>
            <li>Get the resources you need to implement Lean-Agile Portfolio Management</li>
          </ul>

          <div class="left">
            <span class="title">DAY 1</span>
            <ul>
              <li>SAFe PPM Overview</li>
              <li>Strategic Themes</li>
              <li>Value Streams</li>
              <li>Splitting Value Streams into Agile Release Trains</li>
            </ul>
          </div>

          <div class="right">
            <span class="title">DAY 2</span>
            <ul>
              <li>Epic Value Flow</li>
              <li>Implementing Epics</li>
              <li>Lean-Agile Budgeting</li>
              <li>Software Capitalization</li>
              <li>Governance</li>
            </ul>
          </div>

          <ul>
            <li class="title">Target Audience</li>
            <li>Senior Executives</li>
            <li>Solution Managers</li>
            <li>Line Of Business Owners</li>
            <li>Product/Program Directors</li>
            <li>Lean-Agile Leaders</li>
            <li>Agile Change Agents And Consultants</li>
          </ul>
        </article>

        <article class="course">
          <header>
            <h1>Leading SAFe<sup>&trade;</sup> LSE: SAFe for Lean Systems Engineering</h1>
            <h2>Leading Lean-Agile Systems Development with SAFe<sup>&trade;</sup> for Lean Systems Engineering</h2>
            <div class="cost-and-duration">
              <p class="cost"><strong>Cost:</strong> $2,200.00</p>
              <p class="duration"><strong>Duration:</strong> 3 Days</p>
            </div>
          </header>
          <a name="nine">&nbsp;</a>
          <p>In this three-day course, attendees will gain the knowledge necessary to lead a Lean Systems Engineering transformation. They will master the values, practices, and organizational constructs necessary to build complex, large- scale, hardware-software systems in a leaner and more Agile fashion, thereby reducing time to market and improving delivered systems quality. You will leave with an understanding of how the values, principles, and practices of the SAFe for Lean Systems Engineering framework provides the roadmap for this new way of</p>

          <div class="one">
            <span class="title">DAY 1</span>
            <ul>
              <li>Introduction</li>
              <li>Lean Thinking</li>
              <li>Agile Development</li>
            </ul>
          </div>

          <div class="two">
            <span class="title">DAY 2</span>
            <ul>
              <li>Lean Systems Engineering</li>
              <li>Implementing the Agile Release Train</li>
            </ul>
          </div>

          <div class="three">
            <span class="title">DAY 3</span>
            <ul>
              <li>Implementing the Agile Release Train</li>
              <li>Lean Leadership</li>
            </ul>
          </div>

          <ul>
            <li class="title">Target Audience</li>
            <li>Executives, Managers</li>
            <li>Systems Engineers</li>
            <li>Chief Systems Engineers</li>
            <li>Program &amp; Project Managers</li>
            <li>Engineering Leads</li>
            <li>Consultants</li>
            <li>Lean-Agile Leaders And Change Agents</li>
          </ul>

          <ul>
            <li class="title">Other Resources</li>
            <li>PDF Workbooks</li>
            <li>Certificate of Completion</li>
          </ul>
        </article> -->
        <script type="text/template" class="template">
          <article class="course">
            <header>
              <h1><%= name %></h1>
              <div class="cost-and-duration">
                <p class="cost"><strong>Cost:</strong> <%= cost %></p>
                <p class="duration"><strong>Duration:</strong> <%= date.start %> to <%= date.end %></p>
              </div>
            </header>
            <a name="nine">&nbsp;</a>
          </article>
        </script>
      </div>
    </div>


    <div class="course-list">
      <p class="title">Course Index</p>
      <ul>
        <!-- Added in via ajax -->
      </ul>
    </div>
  </main>


  {{>footer}}
  <script>
    var events = [];
    var template = _.template($('script.template').html());
    console.log

    function addCourseLinks() {
      _.each(events, function(value, key, list) {
        $('.course-list').append('<li class="course-item"><a href="#">' + value.name + '</a></li>')
      }, document);
    }

    function addCourses() {
      _.each(events, function(value, key, list) {
        templateData = {
          name: value.name,
          cost: value.tickets[0].price,
          date: {
            start: value.date.start,
            end: value.date.end
          }
        }

        $('.courses .wrapper').append(template(templateData));
      }, document);
    }

    $(function() {

      $.ajax('/api/events', function() {}).done(function(event) {
        _.each(event, function(value, key, list) {
          events.push(value);
        }, document);

        addCourseLinks();
        addCourses();
      });
    });
  </script>
</body>
</html>
