<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Endgoal Group | {{title}}</title>
  {{>common}}
</head>

<body class="{{ body_class }}">
  <header class="primary">
    {{>navigation}}
    <div class="splash">
      <h1>TrainIT</h1>
    </div>
  </header>

  <main role="main">
    <p>The EndGoal Group, Inc. and Daybreak IT Solutions launched <a href="http://www.trainit-thetrainingconsortium.com">Train IT—The Training Consortium</a> built to provide the most efficient and comprehensive Agile training classes, seminars and workshops offered in the market today.   Train IT brings together over 25 years of Enterprise Agile Transformation Consulting, Coaching and Training.</p>
    <p>Our training programs are strategically designed to enhance the understanding of Agile and Scaled Agile practices.</p>
    <p>We offer both public and private, on-site training, customized to meet the unique needs of your organization.</p>
  </main>
  {{>footer}}
</body>
</html>
