<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Endgoal Group | {{title}}</title>
  {{>common}}
</head>

<body class="{{ body_class }} testimonials">
  <header class="primary">
    {{>navigation}}
    <div class="splash">
      <h1>Why Endgoal?</h1>
    </div>
  </header>

  <main role="main">
    <!-- <div class="testimonials-wrapper">
      <div class="testimonial">
        <div class="content">
          <p>Vickie was a solid performer while working on my team at Capital One. She was able to wear multiple business and technical hats and was a key player in project delivery with a positive can-do attitude. Her background and skillset would make her a solid asset on any team.</p>
          <span class="person">&ndash; Carter Norton</span>
          <span class="title">President/CEO Inland Mutual Insurance Company</span>
        </div>
      </div>

      <div class="testimonial">
        <div class="content">
          <p>I met Vicki when we worked on an tedious reconciliation of IT resources for an entire summer. Vicki showed me an honest and cooperative work ethic that helped to make a very difficult situation more tolerable. Vicki is well managed, rich in IT experience, and nutures talent to make better employees, not better sycophants.</p>
          <span class="person">&ndash; CT arrington</span>
          <span class="title">Consulting Software Engineer at ai solutions</span>
        </div>
      </div>

      <div class="testimonial">
        <div class="content">
          <p>Vickie was a solid performer while working on my team at Capital One. She was able to wear multiple business and technical hats and was a key player in project delivery with a positive can-do attitude. Her background and skillset would make her a solid asset on any team.</p>
          <span class="person">&ndash; David Bigness, PMP, ITIL-FC, CSM</span>
          <span class="title">Manager, Project Management at Capital One</span>
        </div>
      </div>

      <div class="testimonial">
        <div class="content">
          <p>Vicki was the driving force behind creating and championing data movement standards across a broad organization. Her efforts went a long way towards ensuring data integrity and data quality across major segments of Capital One.</p>
          <span class="person">&ndash; Lew Chasalow</span>
          <span class="title">Associate Professor of Business Administration at Lebanon Valley College</span>
        </div>
      </div>

      <div class="testimonial">
        <div class="content">
          <p>Vickie is a highly effective and energetic individual, who can play multiple roles in an IT organization. I have seen her perform in technical leadership, project management, and business analyst roles and in all cases, her leadership and analytic skills were key to the success of the project. I truly enjoyed working with her, and believe she would be a tremendous asset for any organization.</p>
          <span class="person">&ndash; Rich Bromberg</span>
          <span class="title">Data Architect/System Integrator</span>
        </div>
      </div>

      <div class="testimonial">
        <div class="content">
          <p>Vickie Beach is a versatile, sharp indvidual with a broad background including banking and technology. My experience with her at Capital One was excellent. She was always focused on results and doing the right thing for the company. She is strong willed, ethical, and fair.</p>
          <span class="person">&ndash; Andy Frank</span>
          <span class="title">CEO and Founder, UDig</span>
        </div>
      </div>

      <div class="testimonial">
        <div class="content">
          <p>I have worked for Vickie for two years at Capital One. Under her leadership, we achieved a lot of successes. She can bring the best in people. It was great working for her.</p>
          <span class="person">&ndash; Syed Rayhan</span>
          <span class="title">Director of Software Engineering at Renewable Funding</span>
        </div>
      </div>

      <div class="testimonial">
        <div class="content">
          <p>I worked with Vickie on several projects related to the development of data standards and highly recommend her. She has strong management skills, the ability to effectively balance tactical and strategic objectives and the ability to implement organizational change.</p>
          <span class="person">&ndash; Dave Dutton</span>
          <span class="title">Chief Data Officer at U.S. Department of Energy</span>
        </div>
      </div>

      <div class="testimonial">
        <div class="content">
          <p>My experience with Vicki was that she was a driven and personable individual who was well versed in multiple aspects of technology.</p>
          <span class="person">&ndash; Mike Bucci</span>
          <span class="title">President and Board Member at Virginia Innovators Network</span>
        </div>
      </div>

      <div class="testimonial">
        <div class="content">
          <p>Vickie was a great resource for me as we worked together at Capital One to develop a process for evaluating compliance to the data policies for projects and development groups.</p>
          <span class="person">&ndash; Glen Wiley</span>
          <span class="title">Principal Engineer at VERISIGN</span>
        </div>
      </div>

      <div class="testimonial">
        <div class="content">
          <p>I worked under Vickie Beach at Capital One for 2 years. While I was a part of her team we developed project and resource management processes that were shared and adopted across the other IT organizations. She developed a Data Management Best Practices and Guidelines that is still currently published and supported throughout Capital One's IT organization. She is a huge asset to have on any team!</p>
          <span class="person">&ndash; Gina Friese, CSM, CSPO</span>
          <span class="title">Director, Federal Reserve Bank of Richmond</span>
        </div>
      </div>
    </div> -->
    <p>In today's world of do more with less, we know how processes are the key to improved results.....</p>
    <h2>Expertise in the Development of Documentation and Workflows</h2>
    <p>Today's business environment demands more of staff than ever before. EndGoal Group’s unique blend of assessing the current processes and workflows, the developing of standards of excellence, and the teaching and training of those standards is the key to working smarter vs. harder in today’s competitive market.</p>
    <p>EndGoal Goup delivers the ability to assess, create, train and implement the key processes and strategies to meet ever increasing goals. We begin by assessing and mapping the process workflow so you can understand what’s happening. By mapping workflows and the technology enabling those workflows, we identify areas of improvement and optimization.</p>

    <h2>Improved Processes Lead to Quicker Results</h2>
    <p>Our clients come to us looking for results, <em>not documentation and the status quo</em>.  EndGoal Group, Inc. brings a collaborative approach that connects the C-Suite to the Operating teams to ensure the entire organization stays on course.  This enables faster decision making and quicker, more tangible results.  Through our collaborative yet disciplined leadership approach, our clients will benefit from:</p>

    <p><strong>Doing more with less.</strong> Reduce your cycle time and adapt to changing environments and needs with fewer resources.</p>
    <p><strong>Control costs.</strong> Manage more efficiently and profitably.</p>
    <p><strong>Expand services.</strong> Increase the pipeline capacity as a result of working smarter, faster and more profitably... thereby increasing the re-investment of profits vs. increasing costs.</p>

    <h2>Progressive Utilization of Technolgy</h2>
    <p>EndGoal Group strives to be your partner in obtaining superior performance and business results.  We do not compile books that gather dust.  As your partner, our purpose is to provide expertise that produces superior results faster.</p>

    <h2>We Know IT Strategy and Planning</h2>
    <p>We bring over 20 years of experience in delivery of goals by connecting the experience and vision of C-Suite executives with the Operational units of your company.  Leveraging the strategy of the executives with the expertise of the operation units is where we thrive.</p>

    <p><strong>Re-Defining Processes.</strong> Identify, Prioritize, Strategize...</p>

    <p><strong>Process Implementation.</strong> The improved processes combined with the right timing and implementation.</p> 
    <p>Call EndGoal Group, Inc. today to see how we have developed standards of excellence for our federal government, private industry and start-up clients today!</p>


    <h2>Training classes platform and curriculum</h2>
    <p>EndGoal Group, Inc. offers a full curriculum of training courses for any sized organization.  Bringing over 100 years of experience through strategic external alliances that can supplement the core strengths of EndGoal Group, we can help develop the people in your organization to become more proficient, productive and profitable.</p>
  </main>

  {{>footer}}
</body>
</html>
