.train-it {
  .splash {
    background: url('/images/splashes/trainit.jpg') center -230px no-repeat;
    background-size: 100%;
    position: relative;
  }

  .calls-to-action {
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    width: 220px;
    height: 52px;
    background: none;
    padding: 0;
  }
}
