.who-we-are {
  .splash {
    background: url('/images/splashes/teamwork.jpg') center -550px no-repeat;
    background-size: 100%;
  }

  .team-member {
    text-align: center;
    overflow: hidden;

    &:first-of-type {
      margin-top: 2rem;
    }

    img {
      display: block;
      width: 100%;
      border-radius: 50%;
      margin: 0 auto 1rem;
    }

    .name, .title {
      display: block;
    }

    .name {
      font-weight: 600;
      font-size: 1.3rem;
    }

    .title {

    }

    .headshot {
      width: 180px;
      float: left;
      padding: 1rem;
    }

    .bio {
      text-align: left;
      width: 80%;
      float: left;
      padding-left: 1rem;
    }
  }
}
